@using Elyze.Models.Gen;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using System.Linq;
@using Elyze.Data;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model Elyze.Models.Gen.StoriciCreateFormView
@{
    ViewData["Title"] = "Inserisci inserimento";
    Layout = "~/Views/Shared/_Page.cshtml";
    List<CampiDinamici> CampiDinamici = new List<CampiDinamici>();
    CampiDinamici = Model.CampiDinamici.ToList();
    ViewBag.CampiDinamici = CampiDinamici;
}

@await Html.PartialAsync("~/Views/Shared/header/_pages.cshtml")
@await Html.PartialAsync("~/Views/Shared/Title/_TitlePage.cshtml", @ViewData["Header"])

<div class="area-contents-form">
    <form asp-action="EditInserimento" id="popolamentoMA">
        <div class="divider">@SharedLocalizer["Campi_Fissi"]</div>
        <div class="d-flex flex-column">
            <div>
                <input asp-for="CampiDinamici" type="hidden" name="CampiDinamici" />
                <input asp-for="CampiFissi.Stato" type="hidden" name="CampiFissi.Stato" id="statoCampiFissi" />
                <input asp-for="CampiFissi.IdInserimento" type="hidden" name="CampiFissi.IdInserimento" />
                <input asp-for="CampiFissi.IdMicroArea" type="hidden" name="CampiFissi.IdMicroArea" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="d-flex flex-row gap-2 flex-wrap">
                    <div class="form-group flex-grow-1">
                        <label asp-for="CampiFissi.DataInizio" class="control-label">@SharedLocalizer["MA_StartValidity"]</label>
                        <input asp-for="CampiFissi.DataInizio" class="form-control" />
                        <span asp-validation-for="CampiFissi.DataInizio" class="text-danger"></span>
                    </div>
                    <div class="form-group flex-grow-1">
                        <label asp-for="CampiFissi.DataFine" class="control-label">@SharedLocalizer["MA_EndValidity"]</label>
                        <input asp-for="CampiFissi.DataFine" class="form-control" />
                        <span asp-validation-for="CampiFissi.DataFine" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex flex-row gap-2 flex-wrap mb-3">
                    <div class="form-group w-25">
                        <label class="control-label">@SharedLocalizer["Company"]</label>
                        @Html.DropDownListFor(m => m.CampiFissi.SocietaId, new SelectList(ViewBag.Societa, "Id", "Descrizione"), new { @id = "Company", @class = "form-control" })
                        <span asp-validation-for="CampiFissi.SocietaId" class="text-danger"></span>
                    </div>
                    <div class="form-group w-25">
                        <label class="control-label">@SharedLocalizer["Rep"]</label>
                        @Html.DropDownListFor(m => m.CampiFissi.RepartoId, new SelectList(ViewBag.Reparto, "Id", "Descrizione"), new { @id = "Rep", @class = "form-control" })
                        <span asp-validation-for="CampiFissi.RepartoId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="divider">@SharedLocalizer["Campi_Dinamici"]</div>
            <div class="d-flex flex-row flex-wrap gap-2">
                @{

                    for (int i = 0; i < Model.CampiDinamici.Length; i++)
                    {
                        string tipo_campo = "text";
                        string nome_tipo = "";
                        foreach (TipologieCampiMicroArea tipologia in ViewBag.TipologieCampi)
                        {
                            if (tipologia.Id == Model.CampiDinamici[i].IdTipo)
                            {
                                tipo_campo = tipologia.Nome;

                            }
                        }

                        List<UnitaMisura> UDMs = ViewBag.UDM;
                        foreach (UnitaMisura UDM in UDMs)
                        {
                            if (UDM.Id == Model.CampiDinamici[i].IdUDM)
                            {
                                nome_tipo = UDM.Nome;

                            }
                        }

                        List<OperatoreDiConversione> operatoriDiConversione = ViewBag.OperatoriDiConversione;
                        operatoriDiConversione = operatoriDiConversione.Where(x => x.IdUnitaDiMisuraPartenza == Model.CampiDinamici[i].IdUDM).ToList();
                        if (operatoriDiConversione.Count > 0 && (tipo_campo.ToLower() == "number" || tipo_campo.ToLower() == "decimal"))
                        {
                            <div class="d-flex gap-2">
                                <div class="form-group w-75">
                                    <label name="CampoDinamico_@Model.CampiDinamici[i].Id" class="control-label">@Model.CampiDinamici[i].Descrizione (@nome_tipo)</label>
                                    <input asp-for="CampiDinamici[i].Valore" name="CampoDinamico_@Model.CampiDinamici[i].Id" type="@tipo_campo" class="form-control" />
                                    <span asp-validation-for="CampiDinamici[i].Valore" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">@SharedLocalizer["Conversion"]</label>
                                    <select class="form-control form-select" name="CampoDinamico_@Model.CampiDinamici[i].Id-Conversion">
                                        <option selected value="0">
                                            -----
                                        </option>
                                        @foreach (var conversion in operatoriDiConversione)
                                        {
                                            <option value="@conversion.Id">
                                                @UDMs.Where(x => x.Id == conversion.IdUnitaDiMisuraArrivo).First().Simbolo
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="form-group">
                                <label name="CampoDinamico_@Model.CampiDinamici[i].Id" class="control-label">@Model.CampiDinamici[i].Descrizione (@nome_tipo)</label>
                                <input asp-for="CampiDinamici[i].Valore" name="CampoDinamico_@Model.CampiDinamici[i].Id" type="@tipo_campo" class="form-control" />
                                <span asp-validation-for="CampiDinamici[i].Valore" class="text-danger"></span>
                            </div>

                        }


                    }
                }
            </div>
        </div>

        <div class="form-footer">
            @{
                if ((bool)ViewData["CanValidate"])
                {
                    <input onclick="onsubmitclick('1')" style="width: 20rem" type="submit" value="@SharedLocalizer["Save_Validation"]" class="btn btn-success btn-lg px-5 py-2 mt-2 fixed-btn-width" />
                }
            }
            <input type="submit" onclick="onsubmitclick('2')" value="@SharedLocalizer["Save"]" class="btn btn-success btn-lg px-5 py-2 mt-2 fixed-btn-width" />
            <a asp-action="IndexInserimenti" asp-route-id="@Model.CampiFissi.IdMicroArea" class="btn btn-outline-secondary btn-lg px-5 py-2 mt-2 fixed-btn-width">@SharedLocalizer["Back"]</a>
        </div>
    </form>
</div>

@section Scripts {


    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }



}
