@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Users"];
    Layout = "~/Views/Shared/_Page.cshtml";
    ViewData["PageName"] = "Users";
}

@await Html.PartialAsync("~/Views/Shared/header/_pages.cshtml")
@await Html.PartialAsync("~/Views/Shared/Title/_TitlePage.cshtml", @ViewData["Header"])
<div class="area-contents-form w-100">
    <table class="table responsive nowrap w-100" id="table_users">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    @SharedLocalizer["Name"]
                </th>
                <th>
                    @SharedLocalizer["Surname"]
                </th>
                <th>
                    @SharedLocalizer["Mail"]
                </th>
                <th>
                    @SharedLocalizer["Role"]

                </th>
                <th>
                </th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table_users').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": `@ViewData["BasePath"]` + "/" + "@ViewData["PageName"]" + "/Get" + "@ViewData["PageName"]" + "DataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                }, {
                    "targets": [1],
                    "responsivePriority": 2
                }, {
                    "targets": [2]
                }, {
                    "targets": [3]
                }, {
                    "targets": [-1],
                    "orderable": false,
                    "searchable": false,
                    "class": "dt-right",
                    "responsivePriority": 1
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autoWidth": true, "class": "dt-center" },
                    { "data": "name", "name": `@SharedLocalizer["Name"]`, "autoWidth": true, "class": "dt-center" },
                    { "data": "surname", "name": `@SharedLocalizer["Surname"]`, "autoWidth": true, "class": "dt-center" },
                    { "data": "email", "name": `@SharedLocalizer["Mail"]`, "autoWidth": true, "class": "dt-center" },
                    { "data": "nameRole", "name": `@SharedLocalizer["Role"]`, "autoWidth": true, "class": "dt-center" },
                    {
                        "data": "id",
                        "render": function (data, row) {
                            return `
                                    <a title="@SharedLocalizer["Edit"]" onclick="redirect_to('${data}', 'Edit', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                    <a title="@SharedLocalizer["Details"]" onclick="redirect_to('${data}', 'Details', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a >
                                    <a title="@SharedLocalizer["Delete"]" onclick="redirect_to('${data}', 'Delete', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                    <a title="@SharedLocalizer["Pwd_New"]" onclick="redirect_to('${data}', 'EditPassword', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                        <i class="fa-solid fa-key"></i>
                                    </a>
                                    <a title="@SharedLocalizer["CtrlPnl_ConfigUsers"]" onclick="redirect_to('${data}', 'Configurations', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                        <i class="fa-solid fa-crown"></i>
                                    </a>`;
                                }
                            },
                        ]
                    });
                });
    </script>
}
