@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Repository"];
    Layout = "~/Views/Shared/_Page.cshtml";
    ViewData["PageName"] = "Repository";

}

@await Html.PartialAsync("~/Views/Shared/header/_pages.cshtml")
@await Html.PartialAsync("~/Views/Shared/Title/_TitlePage.cshtml", @ViewData["Header"])

<div class="area-contents-form w-100">
    <table id="table_repository" class="table responsive nowrap w-100">
        <thead>
            <tr>
                <th> id </th>
                <th> @SharedLocalizer["Title"] </th>
                <th> @SharedLocalizer["Description"]</th>
                <th> @SharedLocalizer["Area"]</th>
                <th> </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#table_repository').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": `@ViewData["BasePath"]` + "/" + "@ViewData["PageName"]" + "/Get" + "@ViewData["PageName"]" + "DataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                }, {
                    "targets": [1],
                    "responsivePriority": 2
                }, {
                    "targets": [2]
                }, {
                    "targets": [3]
                }, {
                    "targets": [-1],
                    "orderable": false,
                    "searchable": false,
                    "class": "dt-right",
                    "responsivePriority": 1
                }],
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": true, "class": "dt-center" },
                    { "data": "titolo", "name": `@SharedLocalizer["Title"]`, "autoWidth": true, "class": "dt-center" },
                    { "data": "descrizione", "name": `@SharedLocalizer["Description"]`, "autoWidth": true, "class": "dt-center" },
                    { "data": "areadescrizione", "name": `@SharedLocalizer["Area"]`, "autoWidth": true, "class": "dt-center" },
                    {
                        "data": "id",
                        "render": function (data, row) {
                            return `
                            <a title = "@SharedLocalizer["Download"]" onclick="redirect_to(${data}, 'Download', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                <i class="fa-solid fa-download" ></i>
                             </a>
                             <a title="@SharedLocalizer["Delete"]" onclick="redirect_to(${data}, 'Delete', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                 <i class="fa-solid fa-trash-can"></i>
                             </a>`;
                        }
                    },
                ]
            });
        });
    </script>
}
