@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["Currency"];
    Layout = "~/Views/Shared/_Page.cshtml";
    ViewData["PageName"] = "Valuta";

}

@await Html.PartialAsync("~/Views/Shared/header/_pages.cshtml")
@await Html.PartialAsync("~/Views/Shared/Title/_TitlePage.cshtml", @ViewData["Header"])

<div class="area-contents-form w-100">
    <table id="table_valute" class="table responsive nowrap w-100">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    @SharedLocalizer["Currency_name"]
                </th>
                <th>
                    @SharedLocalizer["Currency_symbol"]
                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#table_valute').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": `@ViewData["BasePath"]` + "/" + "@ViewData["PageName"]" + "/Get" + "@ViewData["PageName"]" + "DataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                }, {
                    "targets": [1],
                    "responsivePriority": 2
                }, {
                    "targets": [2],
                    "orderable": false,
                    "searchable": false,
                }, {
                    "targets": [-1],
                    "orderable": false,
                    "searchable": false,
                    "class": "dt-right",
                    "responsivePriority": 1
                }],
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": true, "class": "dt-center" },
                    { "data": "nome", "name": `@SharedLocalizer["Currency_name"]`, "autoWidth": true, "class": "dt-center" },
                    { "data": "simbolo", "name": `@SharedLocalizer["Currency_symbol"]`, "autoWidth": true, "class": "dt-center" },
                    {
                        "data": "id",
                        "render": function (data, row) {
                            return `
                                <a title = "@SharedLocalizer["Edit"]" onclick="redirect_to(${data}, 'Edit', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                    <i class="fa-solid fa-pencil" ></i>
                                </a>
                                <a title="@SharedLocalizer["Details"]" onclick="redirect_to(${data}, 'Details', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                    <i class="fa-solid fa-circle-info" ></i>
                                </a >
                                <a title="@SharedLocalizer["Delete"]" onclick="redirect_to(${data}, 'Delete', '@ViewData["PageName"]', '@ViewData["BasePath"]')">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>`;
                        }
                    },
                ]
            });
        });
    </script>
}
